*{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

::-webkit-scrollbar{
    display: none;
}

/* .container{
        
    scroll-snap-type: y  mandatory;
    overflow-y:scroll;
    height: 612px;
} */

.container{
    position: relative;
}

/* //////////////////////////////////////////////////// */
.separadores{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(66 66 69 / 70%);
    backdrop-filter: blur(7px);
    left: 0;
    top: 100px;
    width: 100px;
    height:400px ;
    z-index: 3;
    border-radius: 15px;
    transition: all 0.5s;
}

.separadores a{
    cursor: pointer;
    color: aliceblue;
    font-weight: bold;
}
.separadores div{
    transition:all 0.5s;
}
.separadores div:hover{
    transform: translateY(5px) ;
}


/* //////////////////////////////////////////////////// */

.inicio{
    position: relative;
    width: 100%;
    height: 612px;
    scroll-snap-align:start ;
    z-index: 4;
}

.inicioFondo video{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit:cover;
    z-index: -1;
    background-color: black;
}

.inicioTexto h1{
    text-align: center;
}

.inicioTexto{
    z-index: 1;
    position: absolute;
    bottom: 300px;
    right: 80px;
    color: white;
    max-width: 400px;
    min-width: 300px;
    padding: 15px;
    border-radius: 15px;
    line-height: 30px;
    backdrop-filter: blur(50px);  
    transition: all 0.5s;
}

.abajo{
    transform:translatey(0px);
    animation: float2 1s;
}


@keyframes float2{
    0%{
        transform: translatex(-0px);
    }
    100%{
        transform: translatex(200px);
        opacity: 0.1;
        color: black;
    }

}

.partTwo{
    position: relative;
    width: 100%;
    height: 612px;
    scroll-snap-align:start ;
}


.partTwoImg img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -140px ;
    z-index: -1;
}

.partTwoText{
    position: absolute;
    top:250px;
    left: 100px;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 0;
    border-radius: 15px;
    line-height: 30px;
    backdrop-filter: blur(50px);

    
    
}

.partTwoTextActive{
    transform:translatex(750px);
    top: 25px;
    width: 400px;
    height: 525px;
    transition: all 2s;
    color: white;
    box-shadow: 15px 14px 16px -6px rgba(0,0,0,0.75);
}

.partThree{
    scroll-snap-align:start ;
    position: relative;
    width: 100%;
    height: 612px;
   
}

.partThreeImage img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -140px ;
    z-index: -1;
}

.partThreeText{
    position: absolute;
    top:250px;
    left: 100px;
    width: 400px;
    height: 220px;
    padding: 10px;
    margin: 0;
    border-radius: 15px;
    line-height: 30px;
    backdrop-filter: blur(50px);
    
    
}

.partThreeTextActive{
    transform:translatex(750px);
    top: 25px;
    width: 400px;
    height: 525px;
    transition: all 2s;
    color: white;
    box-shadow: 15px 14px 16px -6px rgba(0,0,0,0.75);
}

/* .boton1, .boton2{
    position: absolute;
    width: 200px;
    height: 50px; 
    backdrop-filter: blur(10);
    z-index: 1;
    padding: 5px;
    border-radius: 5px;
    bottom: 100px;
    left: 400px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: none;
}

.boton2 {
    left: 100px;
}

.boton1 a, .boton2 a{
    color: white;
    font-size: 25px;
}

.boton1Active{
    animation: float 20s;
    box-shadow: 15px 14px 16px -6px rgba(0,0,0,0.75);
}

@keyframes float {

    0%{
        transform: translateY(30px);
       
    }
    10%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(30px);
    }
    30%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(30px);
    }
    
    50%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(30px);
    }
    70%{
        transform: translateY(0px);
    }
    80%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
    
} */


.partFour{
    position: relative;
    width: 100%;
    height: 612px;
    transition: all 0.5s;
    scroll-snap-align:start ;
}

.partFourVideo iframe    {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit:cover;
    z-index: 0;
    background-color: black;
    
}

.partFourBoxes1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 15px;
    /* backdrop-filter: blur(100px); */
    margin-top: 5px;
}

.partFourBoxes1 img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
}

.partFourBoxes1{
    position: absolute;
    top: 0px;
    
}

.box{
    transition: all 0.5s;   
}
.box p{
    margin: 0;
}

.partFourBoxes1 .box:hover{
    transform: translatey(15px);
    transition: all 0.5s;

}
 
.boxActive{
    animation: volador 0.5s;
    animation-timing-function: ease;
}

@keyframes volador {
    0%{
        transform:translateY(0px)  ;
    }

    50%{
        transform: translateY(10px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}

.partFourBoxes1:first-child{
    transition-delay: 10s;
}



.informacion1{
    display: flex;
    width: 600px;
    height: 495px;
    position: relative;
    top: 10%;
    left: 20%;
    z-index: 2;
    border-radius: 10px;
    background-color: white;
}
.informacion1IMG{
    position: relative;
    width: 380px;
    height: 495px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    background-color: black;
}

.informacion1IMG img{
    position: absolute;
    object-fit: contain;
    width: 300px;
    height: 495px;
}

.informacion1Texto{
    display: flex;
    flex-direction: column;
}
.close{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    border-bottom: 0.5px solid black;

}
.close a{
    color: rgb(0,149,246);
    font-weight: bold;
    margin-left: 10px;
}

.close img{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
    cursor: pointer;
}

.informacionPost1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
    margin-bottom: 20px;
    
}

.infos1{
    display: flex;
    justify-content: space-evenly;
}

.fecha{
    border-top: 0.5px solid black;
}

.fecha p{
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
    font-weight: bold;
}


.inactive{
    display: none;
}

.blur{
    opacity: 0.3;
    transition: all 0.5s;
}


.informacion2,.informacion3,.informacion4,.informacion5,.informacion6,.informacion7,.informacion8,.informacion9{
    display: flex;
    width: 600px;
    height: 495px;
    position: relative;
    top: 10%;
    left: 20%;
    z-index: 2;
    border-radius: 10px;
    background-color: white;
}
.informacion2IMG, .informacion3IMG, .informacion4IMG, .informacion5IMG, .informacion6IMG, .informacion7IMG, .informacion8IMG, .informacion9IMG{
    position: relative;
    width: 380px;
    height: 495px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    background-color: black;
}

.informacion2IMG img , .informacion3IMG img, .informacion4IMG img,.informacion5IMG img , .informacion6IMG img, .informacion7IMG img,.informacion8IMG img , .informacion9IMG img{
    position: absolute;
    object-fit: contain;
    width: 300px;
    height: 495px;
}

.informacion2Texto, .informacion3Texto, .informacion4Texto,.informacion5Texto, .informacion6Texto, .informacion7Texto,.informacion8Texto, .informacion9Texto{
    display: flex;
    flex-direction: column;
}


.informacionPost2, .informacionPost3, .informacionPost4,.informacionPost5, .informacionPost6, .informacionPost7,.informacionPost8, .informacionPost9{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
    margin-bottom: 20px;
    
}

.infos2, .infos3, .infos4,.infos5, .infos6, .infos7,.infos8, .infos9{
    display: flex;
    justify-content: space-evenly;
}


.inactive{
    display: none;
}

/* @media (min-width: 1200px){
    .inicio,.partTwo,.partThree,.partFour{
        height: 922px;
    }
    .inicioTexto{
        bottom: 00px;
    }
} */


