*{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
    margin: 0;
    

}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    display: none;
}

.inicio{
    position: relative;
    width: 100%;
    height: 612px;
    
}

.inicioFondo video{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit:cover;
    z-index: -1;
    background-color: black;
}

.inicioTexto h1{
    text-align: center;
}

.inicioTexto{
    z-index: 1;
    position: absolute;
    bottom: 300px;
    right: 80px;
    color: white;
    max-width: 400px;
    min-width: 300px;
    padding: 15px;
    border-radius: 15px;
    line-height: 30px;
    backdrop-filter: blur(50px);  
    transition: all 0.5s;
}

.abajo{
    transform:translatey(0px);
    animation: float2 1s;
}


@keyframes float2{
    0%{
        transform: translatex(-0px);
    }
    100%{
        transform: translatex(200px);
        opacity: 0.1;
        color: black;
    }

}

.partTwo{
    position: relative;
    width: 100%;
    height: 612px;
}


.partTwoImg img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -140px ;
    z-index: -1;
}

.partTwoText{
    position: absolute;
    top:250px;
    left: 100px;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 0;
    border-radius: 15px;
    line-height: 30px;
    backdrop-filter: blur(50px);

    
    
}

.partTwoTextActive{
    transform:translatex(750px);
    top: 25px;
    width: 400px;
    height: 525px;
    transition: all 2s;
    color: white;
    box-shadow: 15px 14px 16px -6px rgba(0,0,0,0.75);
}

.partThree{
    position: relative;
    width: 100%;
    height: 612px;
}

.partThreeImage img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -140px ;
    z-index: -1;
}

.partThreeText{
    position: absolute;
    top:250px;
    left: 100px;
    width: 400px;
    height: 220px;
    padding: 10px;
    margin: 0;
    border-radius: 15px;
    line-height: 30px;
    backdrop-filter: blur(50px);
    
    
}

.partThreeTextActive{
    transform:translatex(750px);
    top: 25px;
    width: 400px;
    height: 525px;
    transition: all 2s;
    color: white;
    box-shadow: 15px 14px 16px -6px rgba(0,0,0,0.75);
}

.boton1, .boton2{
    position: absolute;
    width: 200px;
    height: 50px; 
    backdrop-filter: blur(10);
    z-index: 1;
    padding: 5px;
    border-radius: 5px;
    bottom: 100px;
    left: 400px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: none;
}

.boton2 {
    left: 100px;
}

.boton1 a, .boton2 a{
    color: white;
    font-size: 25px;
}

.boton1Active{
    animation: float 20s;
    box-shadow: 15px 14px 16px -6px rgba(0,0,0,0.75);
}

@keyframes float {

    0%{
        transform: translateY(30px);
       
    }
    10%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(30px);
    }
    30%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(30px);
    }
    
    50%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(30px);
    }
    70%{
        transform: translateY(0px);
    }
    80%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
    
}


.partFour{
    position: relative;
    width: 100%;
    height: 612px;
    
}

.partFourVideo video    {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit:cover;
    z-index: -1;
    background-color: black;
}

.partFourBoxes1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 15px;
    backdrop-filter: blur(100px);
    padding:    5px;
}

.partFourBoxes1 img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
}

.partFourBoxes1{
    position: absolute;
    top: 0px;
}

.box{
    transition: all 0.5s;   
}
.box p{
    margin: 0;
}

.partFourBoxes1 .box:hover{
    transform: translatey(15px);
}